html{
  font-family: sans-serif,serif
}
[class*='c-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.hidden {display: none;}

button,input[type="button"]{
  box-sizing: border-box;
  border: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.15);
  background-color: none;
}

.cont{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.c-0 {width: 0%;}
.c-1 {width: 8.33333333332%;}
.c-2 {width: 16.6666666666%;}
.c-3 {width: 24.9999999999%;}
.c-4 {width: 33.3333333332%;}
.c-5 {width: 41.6666666666%;}
.c-6 {width: 49.9999999999%;}
.c-7 {width: 58.3333333333%;}
.c-8 {width: 66.6666666667%;}
.c-9 {width: 75%;}
.c-10 {width: 83.3333333334%;}
.c-11 {width: 91.6666666666%;}
.c-12 {width: 99.9999999999%;}
@media screen and (min-width: 568px) {
  .c-sm-0 {width: 0%;}
  .c-sm-1 {width: 8.33333333332%;}
  .c-sm-2 {width: 16.6666666666%;}
  .c-sm-3 {width: 24.9999999999%;}
  .c-sm-4 {width: 33.3333333332%;}
  .c-sm-5 {width: 41.6666666666%;}
  .c-sm-6 {width: 49.9999999999%;}
  .c-sm-7 {width: 58.3333333333%;}
  .c-sm-8 {width: 66.6666666667%;}
  .c-sm-9 {width: 75%;}
  .c-sm-10 {width: 83.3333333334%;}
  .c-sm-11 {width: 91.6666666666%;}
  .c-sm-12 {width: 99.9999999999%;}
}
@media screen and (min-width: 1024px) {
  .c-lg-0 {width: 0%;}
  .c-lg-1 {width: 8.33333333332%;}
  .c-lg-2 {width: 16.6666666666%;}
  .c-lg-3 {width: 24.9999999999%;}
  .c-lg-4 {width: 33.3333333332%;}
  .c-lg-5 {width: 41.6666666666%;}
  .c-lg-6 {width: 49.9999999999%;}
  .c-lg-7 {width: 58.3333333333%;}
  .c-lg-8 {width: 66.6666666667%;}
  .c-lg-9 {width: 75%;}
  .c-lg-10 {width: 83.3333333334%;}
  .c-lg-11 {width: 91.6666666666%;}
  .c-lg-12 {width: 99.9999999999%;}
}